<span ng-init="checkUrlList(note)">
	<div ng-repeat="urlData in note.link">
		<div ng-if="urlData.title">

			<a ng-href="{{urlData.url}}" target="_blank">
				<div class="row"
					style="margin-left: 1p; margin-left: 0.2px; margin-right: 2px;    margin-top: 10px;
					 border: 1px solid grey;">
					<div class="col-sm-4" style="padding: 0px">
						<img ng-src="{{urlData.imageUrl}}" height="100" width="90">
					</div>
					<div class="col-sm-8">
						<div ng-bind="urlData.title"></div>
						<div ng-bind="urlData.domain"
							style="font-size: 10px; color: black;"></div>
					</div>
				</div>
			</a>
		</div>
	</div>
</span>