<top-nav-bar></top-nav-bar><br><br><br>
<side-nav-bar></side-nav-bar>
<div>
<div class="container-fluid">

<div class="main" id="main" style="margin-left:{{leftmargin}}">



<div class="row">
  <div class="col-xs-2 col-md-2" ></div>
  
  <div class="col-xs-8 col-md-8" id="startCard">
  <div class="card">
    <div class="card-header">
  <input type="text" name="title" placeholder="Enter Title"  ng-model="note.title" style="background: white; width: 477px; height: 30px" />
 </div>
 <br>
  <div class="card-body">
    <input type="text" name="description" placeholder="Enter Description"  ng-model="note.description" style="background: white; width: 477px; height: 30px" />
    <br>
    <br>
    <button  class="btn btn-primary">DONE</button>
  </div>
  
  </div>
</div>

  <div class="col-xs-2 col-md-2"></div>



</div>

<!--KEEP BODY  -->
<br>
</div>
</div>
