<top-nav-bar></top-nav-bar>
<br>
<br>
<br>
<side-nav-bar></side-nav-bar>
<div class="container-fluid">
	<div class="main" id="main" style="margin-left: {{leftmargin}}">
		<br>
		<div class="col-lg-1"></div>

		<div class="col-lg-10 col-md-10">

			<!-----------------------Take note  ------------------------>
			<div class="row">
				<div class="col-lg-3 col-md-3"></div>
				<div id="note" class=" col-sm-12 col-md-7 col-xs-12 col-lg-4"
					ng-click="show()" ng-blur="hide()"
					style="padding-bottom: 20px; width: 600px">

					<div ng-model="note.title" ng-bind="note.title"
						contenteditable="true" data-text="Title" ng-show="showDiv"></div>
					</br> 
					<div ng-bind="note.description" ng-model="note.description"
						contenteditable="true" data-text="Take a note" ></div>
					</br>
					<div ng-show="showDiv">
					
						<a class="dropdown">
							<img src="images/remainder.svg" data-toggle="dropdown">
					
						<ul class="dropdown-menu">
							<div class="input-group date"
								data-datetimepicker="datetimepicker"
								data-date-format="MM/DD/YYYY hh:mm A/PM">
								<input id="mypicker" class="form-control" type="text"
									placeholder="click here" ng-click="datetimepicker()" /> <span
									class="input-group-addon"> <span id="mypicker"
									class="glyphicon glyphicon-calendar"> </span>
								</span>
							</div>
						</ul>
						</a> 

						<img src="images/collaborate.svg">
						
							<a class="btn-group dropup colorDiv" uib-dropdown>
							<img id="dropdown" class="dropdown-toggle" data-toggle="dropdown"
								alt="color" src="images/colourPalate.svg" uib-dropdown-toggle
								height="20px">
							<ul class="dropdown-menu" uib-dropdown-menu role="menu"
								aria-labelledby="btn-append-to-body"
								style="background-color: #f9fbff">
								<a ng-repeat="color in colors" role="menuitem"> <img
									ng-click="note.color=color.color;updateNote(note)"
									ng-src="{{color.path}}" height="40px">
								</a>
							</ul>
						</a>
<!-- 						<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />					<div class="note-icons">
 -->						
						 <img ng-src="images/image.svg" ng-click="openImageUploader(note)" width="22" height="22">
					     <img src="images/archive.svg">
						<button class="right" ng-click="saveNote(note)">DONE</button>
					</div>
				</div>
			</div>

			<br>
			<!---------------- Pinned notes:: ---------------->

			<h4>Pinned notes::</h4>
			<div class="row">
				<a ng-init="showNotes()"></a>
				<div
					ng-repeat='note in notes|filter:{pinned:true,archive:false,inTrash:false}'
					id="note" class="col-md-6 col-sm-10 col-xs-12 col-lg-3"
					style="margin: 10px; background-color: {{note.color}}">
					<div class="tooltip2">
					
					<div class="tooltipshow">
						<div style="background-color: {{note.color}}" class="right">
							<img ng-click="pin(note,false)" src="images/pinblue.svg"
								style="background-color: {{note.color}}">
						</div>
						</div>
						
						
						<div ng-click="showModalPin(note)">
							<div contenteditable="true" ng-model="note.title"
								style="background-color: {{note.color}}">{{note.title}}</div>
							</br>
							<div contenteditable="true" ng-model="note.description"
								style="background-color: {{note.color}}">{{note.description}}</div>
						</div>
						
						<!--  -->
						<br>
						<div ng-if="note.image"><img ng-src="{{note.image}}" height="100%" width="100%"></div>
						
						</br>
						
						
						<div ng-repeat="label in note.labels">
						<div id="reminder" ng-if="label.labelName!=null">
					{{label.labelName}}<span class="closebtn" ng-click="toggleLabelOfNote(note,label)">&#x274C;</span>
					 </div>
					</div> 

					<div class="tooltipshow">
							<div class="dropdown" class="left">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false"> </a>
									
									
									<a class="dropdown">
							<img src="images/remainder.svg" ng-click="showModel(note)">					
						<ul class="dropdown-menu">
							<div class="input-group date"
								data-datetimepicker="datetimepicker"
								data-date-format="MM/DD/YYYY hh:mm A/PM">
								<input id="mypicker" class="form-control" type="text"
									placeholder="click here" ng-click="datetimepicker()"/> <span
									class="input-group-addon"> <span id="mypicker"
									class="glyphicon glyphicon-calendar"> </span>
								</span>
							</div>
						</ul>
						</a>
							
						<a ng-click="openCollboarate(note,user)">
										<img src="images/collaborate.svg">
										</a>
									
									
														
						<div class="btn-group dropup colorDiv" uib-dropdown>
									<img id="dropdown" class="dropdown-toggle"
										data-toggle="dropdown" alt="color"
										src="images/colourPalate.svg" uib-dropdown-toggle height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu"
										aria-labelledby="btn-append-to-body"
										style="background-color: #f9fbff">
										<a ng-repeat="color in colors" role="menuitem"> <img
										ng-click="note.color=color.color; updateNote(note)"	ng-src="{{color.path}}" height="40px">
										</a>
									</ul>
								</div>
								
								<!--  -->
							<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />
						 <img ng-src="images/image.svg" ng-click="openImageUploader(note,'note')" width="22" height="22">
							
				
								 <img
									ng-click="archive(note,true)" src="images/archive.svg">

								<div style="float: right">
									<span class="btn dropdown-toggle" id="menu1"
										data-toggle="dropdown"> <span> <img
											src="images/more.svg" style="width: 20px;height: 40px; padding-bottom: 20px"></span>
									</span>
									<!-- <li ng-repeat="label in user.labels">
										<input type="checkbox" ng-click="toggleLabelOfNote(note,label)" ng-checked="checked(note,label)">{{label.labelName}}
									</li>
 -->									
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
										
<!-- 										<li ng-if="note.owner.id==note.user.id"><a ng-click="removeCollborator(note,user)">Remove Myself</a></li>
 -->										 
<!-- 										<li ng-if="note.owner.id!=note.shareWithId.id"><a ng-click="removeCollborator(note,user)">Remove Myself</a></li>
 -->										
										<li ng-if="note.owner.id==note.user.id""><a ng-click="deleteNote(note)">DELETE</a></li>
									
									
									
										<li><a ng-click="updateNote(note)">UPDATE</a></li>
											<li><a ng-click="fbShare(note)">fbShare</a></li>
											<li><a ng-click="copy(note)">Make a copy</a></li>
											<li class="dropdown-submenu"><a  tabindex="-1">Add Label</a>
											
									<ul class="dropdown-submenu">									
									<li ng-repeat="label in user.labels">
										<input type="checkbox"  ng-checked="checked(note,label)" ng-click="toggleLabelOfNote(note,label)">{{label.labelName}}
									</li>
									</ul>									
								</li>
									
									</ul>
								</div>	
									</div>


					</div>
				</div>
			</div>
	
			<br>
			</div>
			
			<!--------------------------- show other  ------------------------------>

			<h4>Others::</h4>

			

			<div class="row">
				<a ng-init="showNotes()"></a>
				<div style="background-color: {{note.color}}"
					ng-repeat='note in notes|filter:{inTrash:false,pinned:false,archive:false}'
					id="note" class="col-md-6 col-sm-10 col-xs-12 col-lg-3"
					style="margin: 10px">

					<div class="tooltip2">
										<div class="tooltipshow">					
						<div class="right" >
							<img  ng-click="pin(note,true)" src="images/pin.svg"
								style="background: transparent; background-color: {{note.color}}">
						</div>
						</div>
						<div ng-click="showModel(note)">
							<div contenteditable="true" ng-model="note.title"
								style="background-color: {{note.color}}">{{note.title}}</div>
							</br>
							<div contenteditable="true" ng-model="note.description"
								style="background-color: {{note.color}}">{{note.description}}</div>
						</div>
						
						<br>
						<div ng-if="note.image"><img ng-src="{{note.image}}" height="100%" width="100%"></div>
						
						</br>
						
						
						<div ng-repeat="label in note.labels">
						<div id="reminder" ng-if="label.labelName!=null">
					{{label.labelName}}<span class="closebtn" ng-click="toggleLabelOfNote(note,label)">&#x274C;</span>
					 </div>
					</div> 
					<div class="tooltipshow">
							<div class="dropdown" class="left">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false"> </a>
									
									
									<a class="dropdown">
							<img src="images/remainder.svg" ng-click="showModel(note)">					
						<ul class="dropdown-menu">
							<div class="input-group date"
								data-datetimepicker="datetimepicker"
								data-date-format="MM/DD/YYYY hh:mm A/PM">
								<input id="mypicker" class="form-control" type="text"
									placeholder="click here" ng-click="datetimepicker()"/> <span
									class="input-group-addon"> <span id="mypicker"
									class="glyphicon glyphicon-calendar"> </span>
								</span>
							</div>
						</ul>
						</a>
							
						<a ng-click="openCollboarate(note,user)">
										<img src="images/collaborate.svg">
										</a>
									
									
														
						<div class="btn-group dropup colorDiv" uib-dropdown>
									<img id="dropdown" class="dropdown-toggle"
										data-toggle="dropdown" alt="color"
										src="images/colourPalate.svg" uib-dropdown-toggle height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu"
										aria-labelledby="btn-append-to-body"
										style="background-color: #f9fbff">
										<a ng-repeat="color in colors" role="menuitem"> <img
										ng-click="note.color=color.color; updateNote(note)"	ng-src="{{color.path}}" height="40px">
										</a>
									</ul>
								</div>
								
								<!--  -->
							<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />
						 <img ng-src="images/image.svg" ng-click="openImageUploader(note,'note')" width="22" height="22">
							
				
								 <img ng-click="archive(note,true)" src="images/archive.svg">

								<div style="float: right">
									<span class="btn dropdown-toggle" id="menu1"
										data-toggle="dropdown"> <span> <img
											src="images/more.svg" style="width: 20px;height: 40px; padding-bottom: 20px"></span>
									</span>
									<!-- <li ng-repeat="label in user.labels">
										<input type="checkbox" ng-click="toggleLabelOfNote(note,label)" ng-checked="checked(note,label)">{{label.labelName}}
									</li>
 -->									
									<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
										
<!-- 										<li ng-if="note.owner.id==note.user.id"><a ng-click="removeCollborator(note,user)">Remove Myself</a></li>
 -->										 
									
										<li ng-if="note.owner.id==note.user.id""><a ng-click="deleteNote(note)">DELETE</a></li>
										<li><a ng-click="updateNote(note)">UPDATE</a></li>
											<li><a ng-click="fbShare(note)">fbShare</a></li>
											<li><a ng-click="copy(note)">Make a copy</a></li> 
											<li class="dropdown-submenu"><a  tabindex="-1" ng-click="Labelmodal()">Add Label</a>
											
									<ul class="dropdown-submenu">
									<li ><a  ng-click="Labelmodal()">&#10133</a>
																		
									<li ng-repeat="label in user.labels">
										<input type="checkbox"  ng-checked="checked(note,label)" ng-click="toggleLabelOfNote(note,label)">{{label.labelName}}
									</li>
									</ul>									
								</li>
									</ul>
								</div>	
													</div>
					</div>
				</div>
			</div>
</div>
			<div class="col-md-6"></div>
			<!-- End of body -->

		</div>
		</div>
	</div>