
   
    <div class="model-body">
 <div class="col-md-6 col-sm-10 col-xs-12 col-lg-12"><br><br></div>
 
 
		  		  <div	 id="note" class="col-md-6 col-sm-10 col-xs-12 col-lg-12"
					style="padding: 10px ;background-color:{{note.color}}">	
				<div>
		
			<img  ng-if="note.image" ng-src="{{note.image}}" height="100%" width="100%">
			<img ng-if="note.image" id="pinOnimg" class="tooltipshow" ng-click="removeImage(note)" src="images/trash.png" style="width: 20px;height: 20px">
			</div>	
					<div class="right" style="background-color:{{note.color}}">						
					</div>
					<div style="background-color:{{note.color}}" contenteditable="true" ng-model="note.title" >{{note.title}}</div>
					</br>
					<div style="background-color:{{note.color}}"  contenteditable="true" ng-model="note.description">{{note.description}}</div>
						
						</br>
						<div ng-repeat="label in note.labels">
						<div  ng-if="label.labelName!=null">
					{{label.labelName}}<span class="closebtn" ng-click="toggleLabelOfNote(note,label)">&#x274C;</span>
					 </div>
					</div> 
					<div ng-if="note.remainder">&#x1F551;{{note.remainder|date:'MMM dd hh:mm'}}
<img src="images/trash.png" style="
    width: 20px;
    height: 20px;"
 ng-click="editReminder(note,false)" >
</div>
					<div class="pull-right " style="font-style: italic"> Edited:{{note.lastUpdated|date:'MMM dd hh:mm'}}</div>
					

					</br>
					<div>
						<li class="dropdown" class="right"><a 
							class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false"> 
						</a>
						<a class="dropdown">
							<img src="images/remainder.svg" data-toggle="dropdown">
					
						<ul class="dropdown-menu">
						     <li class="button" ng-click="tomorrowReminder(note)">Later today to 8.00 PM</li>
						     <li class="button" ng-click="tomorrowReminder(note)">Tommorow 8.00 PM</li>
						     <li class="button" ng-click="nextWeekReminder(note)">Next week</li>						     
						     
						
							<div class="input-group date"
								data-datetimepicker="datetimepicker"
								data-date-format="YYYY/MM/DD hh:mm AM/PM"  >
								<input id="mypicker" class="form-control" type="text"
									placeholder="" ng-model="note.remainder"/> <span
									class="input-group-addon"> <span id="mypicker"
									class="glyphicon glyphicon-calendar" ng-click="datetimepicker(note)" > </span>
								</span>
							</div>
						</ul>

						</a>
						
					<a ng-click="openCollboarate(note,user)">
										<img src="images/collaborate.svg">
										</a>
															
						<div class="btn-group dropup colorDiv" uib-dropdown>
									<img id="dropdown" class="dropdown-toggle"
										data-toggle="dropdown" alt="color"
										src="images/colourPalate.svg" uib-dropdown-toggle height="20px">
									<ul class="dropdown-menu" uib-dropdown-menu role="menu"
										aria-labelledby="btn-append-to-body"
										style="background-color: #f9fbff">
										<a ng-repeat="color in colors" role="menuitem"> <img
										ng-click="note.color=color.color; updateNote(note)"	ng-src="{{color.path}}" height="40px">
										</a>
									</ul>
								</div>
							<input ng-show="false" id="image" type='file' ng-model-instant ng-model="file" onchange="angular.element(this).scope().imageUpload(this)" />					
							
						 <img ng-src="images/image.svg" ng-click="openImageUploader(note,'note')" width="22" height="22">
							
							<img
								ng-click="archive(note,true)" src="images/archive.svg">
<!-- 									
 -->
							<div style="float: right">
								<span class="btn dropdown-toggle" id="menu1"
									data-toggle="dropdown">
									 <span > 
									 <img src="images/more.svg" style="width: 19px; height: 32px;"></span>
								</span>
								<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
									<li></li>
									<li>f
									
									<li><a ng-click="deleteNote(note)">DELETE</a></li>
									<li><a ng-click="updateNote(note)">UPDATE</a></li>
									<li><a ng-click="fbShare(note)">fbShare</a></li>
								 <li><a ng-click="copy(note)">Make a copy</a></li>
											

								</ul>
								<a ng-click="updateNote(note)" type="button">DONE</a>
							</div>
							
					</div>
					<br>
	<span ng-init="checkUrlList(note)">
			<div ng-repeat="urlData in note.link" >
			<div ng-if="urlData.title">	
			<hr>		
			<a ng-href="{{urlData.url}}" >
			<div class="row" style="padding:10px ">
			<div>
			<img ng-src="{{urlData.imageUrl}}" height="80" width="80">		
			<a ng-bind="urlData.title" >
			<a ng-bind="urlData.domain">
			</div>
			</a>
			</div>
			</div>
			</span>
				
					
		</div>
</div>


