<div class="modal-content" >
<div class="modal-header" ><font size="5px">Edit Labels</font></div>
	<div class="modal-body">
		<div ng-click="addlabel()" style="cursor:pointer" class="right">&#10004</div>
		
		<!-- <div contenteditable="true" ng-model="$parent.newLabel.labelName" data-text="create label" >
		</div> -->
		<input  ng-model="$parent.newLabel.labelName" data-text="create label" style="width: 452px" placeholder="Enter new Label">
		<hr>
		
		<div ng-repeat="label in user.labels">
				
		<div class="row">
		
		<table style="width:100%">
  <tr>
		 <td><img ng-src="images/label.svg" ></td>
		<td><div contenteditable="true" ng-model="label.labelName" ></div>
		 <td><a  ng-click="updateLabel(label)" class="right"  style="padding-left: 10px;padding-right: 10px" >&#10004</a>
		 <img ng-src="images/trash.png" class="right" height="20" width="20" ng-click="deletelabel(label)"></a></td>
		 </tr>
		
		 </table>
		
		</div>
		</div>
	</div>
	<div class="modal-footer">
		</div>
 
 </div>
</div>