
<div class="panel panel-primary">
	<div class="panel-heading">*</div>
	<!-- can give button here in * -->
	<div class="panel-body">
		<h2 align="center">Registration Form</h2>
		<div class="container">
			<fieldset>
				<div class="form-group">
					<label>Full Name</label> 
					<input type="text" name="name"
						class="form-control" placeholder="Enter User Name"  ng-model="user.name" />
				</div>

				<div class="form-group">
					<label>Email id</label>
					<input type="email" name="email"
						id="UserEmail" class="form-control" placeholder="Enter EmailId"
						required ng-model="user.email"/>
				</div>
				<div class="form-group">
					<label>PhoneNumber</label>
					<input type="number" name="phoneNumber"
						class="form-control" placeholder="Enter 10 digit phone number"
						required ng-model="user.phoneNumber"/>
				</div>

				<div class="form-group">
					<label> Password</label>
					<input type="password" name="password"
						required class="form-control" placeholder="Enter password"  ng-model="user.password"/>
				</div>

				<div class="form-group">
					<button type="submit" ng-click="registerUser()">Register</button>
				</div>
				<br>
				<div class="form-group">
					<a href="#!/login">Already have an account</a>
				</div>
			</fieldset>
		</div>
	</div>
</div>
