<div class="container" id="reset">
	<div class="col-sx-12 col-md-12 col-lg-12">
		<form>
			<div class="form-group">
				<h2>Reset Password</h2>
			</div>
					<div class="form-group">
				<label class="control-label" for="password"></label> <input
					id="password" type="password" name="password"
					ng-model="user.password" placeholder="Enter new password"
					class="form-control">
			</div>

			<div class="form-group">
				<button id="submit" type="submit" ng-click="resetPassword()"
					class="btn btn-lg btn-primary btn-block">Submit</button>
			</div>
		</form>
	</div>
</div>

