<div class="sidenav" style="width:{{width}}">
<br>
<br>
<a href="#!/home">Notes</a>
<a href="#!/home">Remainder</a>
<hr>
<div class="row">
<a href="#!/home">Lables</a>
<a  ng-click="Labelmodal()" style="font-size: 15px">Edit</a>

</div>
<div ng-repeat="label in user.labels">

<a ui-sref="labels({labelName:label.labelName})"><img ng-src="images/label.svg" >{{label.labelName}}</a></div>

<hr color="black">
<a href="#!/archive">Archive</a>
<a href="#!/trash">Trash</a>
<hr color="black">
<a href="#!/home">Settings</a>
</div>
