<!-- 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="color: black">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
<div class="navbar-header">
<span class="nav navbar-nav" id="sidebarbtn" style="cursor: pointer"
				ng-click="showSidebar()">&#9776;</span>
				<a class="navbar-brand" href="#!/home"><font color="black"
					size="5" font="Product Sans"><b>ToDo APP2</font></a>
			</div>    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
<li>
<input type="text" id="searchbox" placeholder="search"
				class="nav navbar-nav" style="width: 453px; height: 55px; "></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      
        <li><button type="button" class="refreshBtn">
          <span class="glyphicon glyphicon-refresh"></span> Refresh
        </button></li>
        <li><li class="dropdown"><a href="#!/home" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"> <img src="images/defaultpic.jpg"
							class="img-circle profile-pic" alt="profilePic">
					</a>
						<ul class="dropdown-menu">
							<li role="separator" class="divider"></li>
							<li><a href="#!/login" style="color: black"> <span
									class="glyphicon glyphicon-log-out"> </span> Logout
							</a></li>
							<li><a href="#!/login" style="color: black"> <span>
								</span> Myaccount
							</a></li>

						</ul></li></li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-default navbar-fixed-top" style="background-color:{{navColor}}" >

	<div class="row">

		<div class="col-sm-1">
			<span class="nav navbar-nav" id="sidebarbtn" style="cursor: pointer;color: {{navBrandColor}}"
				ng-click="showSidebar()">&#9776;</span>

		</div>

		<div class="col-sm-3">

			<div class="navbar-header">
				<a class="navbar-brand" href="#!/home"><font 
					size="5" font="Product Sans" style="color: {{navBrandColor}}"><b>{{navBrand}}</font></a>
			</div>

			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>


		</div>
		<div class="col-sm-1" id="searchbtn">
			<span  href="#!/search" class="glyphicon glyphicon-search" style="font-size: '25px';color:{{navColor}}"></span>
		</div>

		<div class="col-sm-3">
			<input type="text" id="searchbox" placeholder="search"
				class="nav navbar-nav">
		</div>
		<div id="navbar" class="navbar-collapse  collapse">
		
		
		<div class="col-sm-3">
			<ul class="nav navbar-nav navbar-right">

        </ul>
        </div>
			<button type="button" class="refreshBtn" style="color: {{navBrandColor}}">
          <span class="glyphicon glyphicon-refresh" ></span> 
               </button><ul class="nav navbar-nav navbar-right">
			<div class="col-sm-2">
			<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">
						 <img src="images/defaultpic.jpg"
							class="img-circle profile-pic" alt=".">
					</a>
						<ul class="dropdown-menu">
							<li role="separator" class="divider"></li>
							<li><a  ng-click="logoutUser()" style="color: black">
				<span class="glyphicon glyphicon-log-out">
				</span >Logout</a>
				</li>
				<li><a href="#!/home"  style="color: black">
				<span >
				</span>	Myaccount</a></li>

						</ul></li>
				</div>
			</ul>

		</div>

	</div>
	</div>
	  </div>
</nav>