
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:{{navColor}}" >
	<div class="row">

		<div class="col-sm-3 md-3 ">
	
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			
			<div style="width: 413px; ">
			<div  id="sidebarbtn" style="cursor: pointer;margin-left: 5px; margin-top:5px;color: {{navBrandColor}}"
				ng-click="showSidebar()">&#9776;&emsp;{{navBrand}}
				</div>
				
			</div>
		</div>
		<div id="navbar" class="navbar-collapse  collapse">
		<div >
               <input type="text" id="searchbox" placeholder="search ..."
				class="nav navbar-nav col-lg-5 col-sm-2 col-md-6 " ui-sref="Search"   ng-model="searchText" >
				&emsp;&emsp;
				
                   <img ng-src="{{viewType}}" width="40" height="40" ng-click="changeContainerView()" >
               <ul class="nav navbar-nav navbar-right">
			<div class="col-sm-2">
			<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" role="button" style="background-color: white">
													
						 <img ng-src="{{user.profileUrl}}"
							class="img-circle profile-pic" alt="profile" >
					</a>
						<ul class="dropdown-menu" style="width: 280px;">
							<li role="separator" class="divider"></li>
						
						<img ng-src="{{user.profileUrl}}" data-ng-click="showImageUploader(user)"  style="height: 100px;
  						  width: 100px;"
							class="img-circle "><a>&emsp;{{user.name}}</a>
							<hr><a>&emsp;{{user.email}}</a>
						<hr>
				<li><a  href="#!/login" style="color: black">
				<span class="glyphicon glyphicon-log-out">
				</span >Logout</a>
				</li>
				<li></li>
						</ul></li>
				</div>
			</ul>
		</div>

	</div>
	</div>
	  </div>
</nav>