/* .card{
	background: white;
    width: 530px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 5px;
    border-color: red;
	
} */

       
.cropArea {
  background: #f3f3f3;
  overflow: hidden;
  width:500px;
  height:350px;
}
[contenteditable] {
	background-color: white;
}
/* .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    width: 350px;
} */
#note {
	background-color: white;
	padding: inherit;
	margin: 10px;
	box-shadow: 1px 1px 1px 1px grey;
	/* padding-right: 20px;
	padding-left: 20px; */
}

[contentEditable=true]:empty:not (:focus ):before {
	content: attr(data-text)
}

[contenteditable]:focus {
	outline: 0px solid transparent;
}

.tooltip2 {
	display: inline-block;
	opacity: 1;
	width: 100%;
}

.tooltip2 .tooltipshow {
	visibility: hidden;
}

.tooltip2:hover .tooltipshow {
	visibility: visible;
}

#note:hover {
	-webkit-box-shadow: 0 0 5px 2px grey;
}


/* .tooltip2:hover > img.pinblue{
	right: 8px;
    position: absolute;
    background-color: transparent;
}

 */
#pinOnimg {
	right: 8px;
	float :right;
	position: absolute;
	background: none;
}
/* 
.col-lg-3 {
    width: 30%;
} */